<mat-card color="secundary">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 class="title"> LOGIN </h3>
        <img class="img" src="./../../../assets/images/icon.png" alt="angular">
        <mat-error *ngIf="errorUser" class="mb-1">
          Tus datos son incorrectos ¡Intenta de nuevo!
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Usuario" formControlName="usuario" required>
          <mat-error>
            Por favor ingrese su usuario
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="contrasena" required>
          <mat-error>
            Por favor ingrese su password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>