mat-card {
    max-width: 650px;
    height: 450px;
    margin: 2em auto;
    text-align: center;
    padding-top: 60px;
    color: #c2185b;
    text-align: center;
  }
button{
    background-color: #555;
    margin-top: 30px;
    width: 150px;
    height: 60px;
}
button.mat-button-disabled{
    background-color: #c2185b !important;
    color:  #fff
}
  
mat-form-field {
    display: block;
  }
.full-width-input{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  color: #fff !important;
}
.mat-form-field-appearance-legacy{
    color: #fff !important;
}
mat-error {
    font-size: 13px;
    color: orange;
}
.mat-form-field-label{
    font-size: 12px;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #c2185b;
    font-size: 15px;
}
.title{
    font-size: 26px;
    color: orange;
}