<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="title"> Formulario </h1>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error>
            Por favor ingrese su nombre
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="email" placeholder="Correo electrónico" formControlName="email" required>
          <mat-error>
          Por favor ingrese un correo electrónico valido
        </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label> Paises </mat-label>
            <mat-select formControlName="pais">
                <mat-option *ngFor="let item of countries" [value]="item.country"> {{item.country}} </mat-option>
            </mat-select>
            <mat-error>
                Por favor seleccione un país
              </mat-error>
        </mat-form-field>   
        <mat-form-field class="full-width-input">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaReserva"
            [min]="minDate" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
                Por favor seleccione una fecha
              </mat-error>
          </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="form.invalid"> Enviar </button>
      </form>
    </mat-card-content>
  </mat-card>
